{
  "log": {
    "_recordingName": "fetch-insight-app-sec-apps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "053f0b72c65090d9aa89cd0534530ff6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "size",
              "value": "500"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://us2.api.insight.rapid7.com/ias/v1/apps?size=500&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 544,
            "text": "{\n  \"data\" : [ {\n    \"id\" : \"d8aa7518-7ee9-4e8b-adc4-3393d0ae1ec1\",\n    \"name\" : \"Hackazon\",\n    \"links\" : [ {\n      \"rel\" : \"self\",\n      \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/apps/d8aa7518-7ee9-4e8b-adc4-3393d0ae1ec1\"\n    } ]\n  }, {\n    \"id\" : \"956f6a8c-199c-4244-b6c3-4fc23992e83f\",\n    \"name\" : \"WebScanTest\",\n    \"links\" : [ {\n      \"rel\" : \"self\",\n      \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/apps/956f6a8c-199c-4244-b6c3-4fc23992e83f\"\n    } ]\n  } ],\n  \"metadata\" : {\n    \"index\" : 0,\n    \"size\" : 500,\n    \"sort\" : \"app.name,ASC\",\n    \"total_data\" : 2,\n    \"total_pages\" : 1,\n    \"page_token\" : \"NDM0NTk0NTIyOjo6X1M6Ojp3ZWJzY2FudGVzdDo6Ol9TOjo6OTU2ZjZhOGMtMTk5Yy00MjQ0LWI2YzMtNGZjMjM5OTJlODNm\"\n  },\n  \"links\" : [ {\n    \"rel\" : \"self\",\n    \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/apps\"\n  } ]\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "r7-correlation-id",
              "value": "11b554f3-52d1-4506-a47c-609d64b2f487"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 940,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
