{
  "log": {
    "_recordingName": "validate-invocation-valid-credentials",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "203125261361f93fc9960be1d2b323c2",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://us.api.insight.rapid7.com/validate"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 24,
            "text": "{\"message\":\"Authorized\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 738,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
