{
  "log": {
    "_recordingName": "fetch-account",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "91b1aacf8b9b06050460953103d46e01",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://us.api.insight.rapid7.com/account/api/1/products"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 457,
            "text": "[{\"product_token\":\"B4FCBCAA93B46F9D19BF\",\"product_code\":\"IVM\",\"organization_id\":\"fae6e8f0-1b1d-4fda-af82-34d63b1df399\",\"organization_name\":\"JupiterOne\"},{\"product_token\":\"A908EB44A0ACA8B6FDBE\",\"product_code\":\"AS\",\"organization_id\":\"fae6e8f0-1b1d-4fda-af82-34d63b1df399\",\"organization_name\":\"JupiterOne\"},{\"product_token\":\"7CC30DC8A44D03CAEB91\",\"product_code\":\"ICON\",\"organization_id\":\"fae6e8f0-1b1d-4fda-af82-34d63b1df399\",\"organization_name\":\"JupiterOne\"}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "www-authenticate",
              "value": "Key realm=\"kong\""
            },
            {
              "name": "r7-correlation-id",
              "value": "f7db052e-c701-4555-87f5-8e200e224fcb"
            },
            {
              "name": "ratelimit-limit",
              "value": "50"
            },
            {
              "name": "ratelimit-reset",
              "value": "59"
            },
            {
              "name": "ratelimit-remaining",
              "value": "49"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1564,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
