{
  "log": {
    "_recordingName": "fetch-insight-app-sec-vulnerabilities",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "053f0b72c65090d9aa89cd0534530ff6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "size",
              "value": "500"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://us2.api.insight.rapid7.com/ias/v1/apps?size=500&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 551,
            "text": "{\n  \"data\" : [ {\n    \"id\" : \"d8aa7518-7ee9-4e8b-adc4-3393d0ae1ec1\",\n    \"name\" : \"Hackazon\",\n    \"links\" : [ {\n      \"rel\" : \"self\",\n      \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/apps/d8aa7518-7ee9-4e8b-adc4-3393d0ae1ec1\"\n    } ]\n  }, {\n    \"id\" : \"956f6a8c-199c-4244-b6c3-4fc23992e83f\",\n    \"name\" : \"WebScanTest\",\n    \"links\" : [ {\n      \"rel\" : \"self\",\n      \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/apps/956f6a8c-199c-4244-b6c3-4fc23992e83f\"\n    } ]\n  } ],\n  \"metadata\" : {\n    \"index\" : 0,\n    \"size\" : 500,\n    \"sort\" : \"app.name,ASC\",\n    \"total_data\" : 2,\n    \"total_pages\" : 1,\n    \"page_token\" : \"NDM0NTk0NTIyOjo6X1M6Ojp3ZWJzY2FudGVzdDo6Ol9TOjo6OTU2ZjZhOGMtMTk5Yy00MjQ0LWI2YzMtNGZjMjM5OTJlODNm\"\n  },\n  \"links\" : [ {\n    \"rel\" : \"self\",\n    \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/apps\"\n  } ]\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "r7-correlation-id",
              "value": "627d53f5-57e2-46a8-a569-beb565716221"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 805,
      },
      {
        "_id": "2a0364dec044a823b5c7d410da77f673",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"vulnerability.app.id = 'd8aa7518-7ee9-4e8b-adc4-3393d0ae1ec1'\",\"type\":\"VULNERABILITY\"}"
          },
          "queryString": [
            {
              "name": "size",
              "value": "500"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://us2.api.insight.rapid7.com/ias/v1/search?size=500&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 15452,
            "text": "{\n  \"data\" : [ {\n    \"id\" : \"270eda81-b318-4fd6-81b8-a4cf86631344\",\n    \"app\" : {\n      \"id\" : \"d8aa7518-7ee9-4e8b-adc4-3393d0ae1ec1\"\n    },\n    \"root_cause\" : {\n      \"url\" : \"http://hackazon.webscantest.com/user/login\",\n      \"parameter\" : \"password\",\n      \"method\" : \"POST\"\n    },\n    \"severity\" : \"HIGH\",\n    \"status\" : \"UNREVIEWED\",\n    \"first_discovered\" : \"2022-05-04T14:02:46.158454\",\n    \"last_discovered\" : \"2022-05-04T14:02:46.158454\",\n    \"newly_discovered\" : true,\n    \"vector_string\" : \"AV:N/AC:L/PR:N/UI:N/S:C/C:L/I:L/A:N/E:X/RL:X/RC:R\",\n    \"vulnerability_score\" : 7.0,\n    \"insight_ui_url\" : \"https://us2.appsec.insight.rapid7.com/op/A908EB44A0ACA8B6FDBE/#/vulnerabilities?displayText=vulnerability.id=\\\"270eda81-b318-4fd6-81b8-a4cf86631344\\\"&filterText=vulnerability.id='270eda81-b318-4fd6-81b8-a4cf86631344'&showVulnDetails=true\",\n    \"links\" : [ {\n      \"rel\" : \"self\",\n      \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/search/270eda81-b318-4fd6-81b8-a4cf86631344\"\n    } ]\n  }, {\n    \"id\" : \"a504040d-e58b-4b39-8bd9-acbac2592c35\",\n    \"app\" : {\n [...]
