{
  "log": {
    "_recordingName": "fetch-insight-app-sec-scans",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "91b1aacf8b9b06050460953103d46e01",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://us.api.insight.rapid7.com/account/api/1/products"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 457,
            "text": "[{\"product_token\":\"B4FCBCAA93B46F9D19BF\",\"product_code\":\"IVM\",\"organization_id\":\"fae6e8f0-1b1d-4fda-af82-34d63b1df399\",\"organization_name\":\"JupiterOne\"},{\"product_token\":\"7CC30DC8A44D03CAEB91\",\"product_code\":\"ICON\",\"organization_id\":\"fae6e8f0-1b1d-4fda-af82-34d63b1df399\",\"organization_name\":\"JupiterOne\"},{\"product_token\":\"A908EB44A0ACA8B6FDBE\",\"product_code\":\"AS\",\"organization_id\":\"fae6e8f0-1b1d-4fda-af82-34d63b1df399\",\"organization_name\":\"JupiterOne\"}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "www-authenticate",
              "value": "Key realm=\"kong\""
            },
            {
              "name": "r7-correlation-id",
              "value": "166555b3-56e9-41d1-beab-1b0316880fb6"
            },
            {
              "name": "ratelimit-limit",
              "value": "50"
            },
            {
              "name": "ratelimit-reset",
              "value": "60"
            },
            {
              "name": "ratelimit-remaining",
              "value": "49"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 946,
      },
      {
        "_id": "35277a00f61d365c6948e822a6053c00",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "size",
              "value": "500"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://us2.api.insight.rapid7.com/ias/v1/engine-groups?size=500&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 484,
            "text": "{\n  \"data\" : [ {\n    \"id\" : \"64035f1e-5775-4544-bc48-255e258553b0\",\n    \"name\" : \"Test Group\",\n    \"links\" : [ {\n      \"rel\" : \"self\",\n      \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/engine-groups/64035f1e-5775-4544-bc48-255e258553b0\"\n    } ]\n  } ],\n  \"metadata\" : {\n    \"index\" : 0,\n    \"size\" : 500,\n    \"sort\" : \"enginegroup.name,ASC\",\n    \"total_data\" : 1,\n    \"total_pages\" : 1,\n    \"page_token\" : \"LTMxOTc5MjEwOjo6X1M6Ojp0ZXN0IGdyb3VwOjo6X1M6Ojo2NDAzNWYxZS01Nzc1LTQ1NDQtYmM0OC0yNTVlMjU4NTUzYjA\"\n  },\n  \"links\" : [ {\n    \"rel\" : \"self\",\n    \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/engine-groups\"\n  } ]\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "r7-correlation-id",
              "value": "e4afd5c4-bc79-45da-a49e-7ae55401f272"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 983,
      },
      {
        "_id": "2a0364dec044a823b5c7d410da77f673",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"scanconfig.assignment.type = 'ENGINE_GROUP'\",\"type\":\"SCAN_CONFIG\"}"
          },
          "queryString": [
            {
              "name": "size",
              "value": "500"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://us2.api.insight.rapid7.com/ias/v1/search?size=500&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 892,
            "text": "{\n  \"data\" : [ {\n    \"id\" : \"f319a09b-568e-4a47-962a-3c3301845ddc\",\n    \"name\" : \"recommended-hackazon\",\n    \"app\" : {\n      \"id\" : \"d8aa7518-7ee9-4e8b-adc4-3393d0ae1ec1\"\n    },\n    \"attack_template\" : {\n      \"id\" : \"11111111-0000-0000-0000-000000000000\"\n    },\n    \"incremental\" : false,\n    \"assignment\" : {\n      \"type\" : \"ENGINE_GROUP\",\n      \"environment\" : \"CLOUD\"\n    },\n    \"links\" : [ {\n      \"rel\" : \"self\",\n      \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/search/f319a09b-568e-4a47-962a-3c3301845ddc\"\n    } ]\n  }, {\n    \"id\" : \"7cfd6497-d8cf-408e-af02-2e10eb9f72b5\",\n    \"name\" : \"recommended-webscantest\",\n    \"app\" : {\n      \"id\" : \"956f6a8c-199c-4244-b6c3-4fc23992e83f\"\n    },\n    \"attack_template\" : {\n      \"id\" : \"11111111-0000-0000-0000-000000000000\"\n    },\n    \"incremental\" : false,\n    \"assignment\" : {\n      \"type\" : \"ENGINE_GROUP\",\n      \"environment\" : \"CLOUD\"\n    },\n    \"links\" : [ {\n      \"rel\" : \"self\",\n      \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/search/7cfd6497-d8cf-408e-af02-2e10eb9f72b5\"\n    } ]\n  }, {\n    \"id\" : \"acb541f1-7fa3-45eb-934b-a49de0762684\",\n    \"name\" : \"Test Scan Config\",\n    \"description\" : \"string\",\n    \"app\" : {\n      \"id\" : \"d8aa7518-7ee9-4e8b-adc4-3393d0ae1ec1\"\n    },\n    \"attack_template\" : {\n      \"id\" : \"11111111-0000-0000-0000-000000000011\"\n    },\n    \"incremental\" : false,\n    \"assignment\" : {\n      \"type\" : \"ENGINE_GROUP\",\n      \"id\" : \"64035f1e-5775-4544-bc48-255e258553b0\",\n      \"environment\" : \"ON_PREMISE\"\n    },\n    \"links\" : [ {\n      \"rel\" : \"self\",\n      \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/s[...]
