{
  "log": {
    "_recordingName": "fetch-insight-app-sec-engines",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "91b1aacf8b9b06050460953103d46e01",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://us.api.insight.rapid7.com/account/api/1/products"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 457,
            "text": "[{\"product_token\":\"B4FCBCAA93B46F9D19BF\",\"product_code\":\"IVM\",\"organization_id\":\"fae6e8f0-1b1d-4fda-af82-34d63b1df399\",\"organization_name\":\"JupiterOne\"},{\"product_token\":\"A908EB44A0ACA8B6FDBE\",\"product_code\":\"AS\",\"organization_id\":\"fae6e8f0-1b1d-4fda-af82-34d63b1df399\",\"organization_name\":\"JupiterOne\"},{\"product_token\":\"7CC30DC8A44D03CAEB91\",\"product_code\":\"ICON\",\"organization_id\":\"fae6e8f0-1b1d-4fda-af82-34d63b1df399\",\"organization_name\":\"JupiterOne\"}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "www-authenticate",
              "value": "Key realm=\"kong\""
            },
            {
              "name": "r7-correlation-id",
              "value": "3553d9ea-331f-4408-80c0-78dca5a84d79"
            },
            {
              "name": "ratelimit-limit",
              "value": "50"
            },
            {
              "name": "ratelimit-reset",
              "value": "18"
            },
            {
              "name": "ratelimit-remaining",
              "value": "48"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1238,
      },
      {
        "_id": "35277a00f61d365c6948e822a6053c00",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "size",
              "value": "500"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://us2.api.insight.rapid7.com/ias/v1/engine-groups?size=500&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 484,
            "text": "{\n  \"data\" : [ {\n    \"id\" : \"64035f1e-5775-4544-bc48-255e258553b0\",\n    \"name\" : \"Test Group\",\n    \"links\" : [ {\n      \"rel\" : \"self\",\n      \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/engine-groups/64035f1e-5775-4544-bc48-255e258553b0\"\n    } ]\n  } ],\n  \"metadata\" : {\n    \"index\" : 0,\n    \"size\" : 500,\n    \"sort\" : \"enginegroup.name,ASC\",\n    \"total_data\" : 1,\n    \"total_pages\" : 1,\n    \"page_token\" : \"LTMxOTc5MjEwOjo6X1M6Ojp0ZXN0IGdyb3VwOjo6X1M6Ojo2NDAzNWYxZS01Nzc1LTQ1NDQtYmM0OC0yNTVlMjU4NTUzYjA\"\n  },\n  \"links\" : [ {\n    \"rel\" : \"self\",\n    \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/engine-groups\"\n  } ]\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "r7-correlation-id",
              "value": "e623c4db-bc77-4f17-ad55-3846594aedbe"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 901,
      },
      {
        "_id": "2a0364dec044a823b5c7d410da77f673",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"engine.engine_group.id = '64035f1e-5775-4544-bc48-255e258553b0'\",\"type\":\"ENGINE\"}"
          },
          "queryString": [
            {
              "name": "size",
              "value": "500"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://us2.api.insight.rapid7.com/ias/v1/search?size=500&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 568,
            "text": "{\n  \"data\" : [ {\n    \"id\" : \"bedaa292-9135-4276-b033-9c653d76f08f\",\n    \"name\" : \"Test Engine\",\n    \"engine_group\" : {\n      \"id\" : \"64035f1e-5775-4544-bc48-255e258553b0\"\n    },\n    \"latest_version\" : false,\n    \"upgradeable\" : false,\n    \"auto_upgrade\" : true,\n    \"links\" : [ {\n      \"rel\" : \"self\",\n      \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/search/bedaa292-9135-4276-b033-9c653d76f08f\"\n    } ]\n  } ],\n  \"metadata\" : {\n    \"index\" : 0,\n    \"size\" : 500,\n    \"total_data\" : 1,\n    \"total_pages\" : 1,\n    \"page_token\" : \"LTIxMzE1NDI0NTo6Ol9TOjo6dGVzdCBlbmdpbmU6OjpfUzo6OmJlZGFhMjkyLTkxMzUtNDI3Ni1iMDMzLTljNjUzZDc2ZjA4Zg\"\n  },\n  \"links\" : [ {\n    \"rel\" : \"self\",\n    \"href\" : \"https://us2[...]
