{
  "log": {
    "_recordingName": "fetch-insight-app-sec-engine-groups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "91b1aacf8b9b06050460953103d46e01",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://us.api.insight.rapid7.com/account/api/1/products"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 457,
            "text": "[{\"product_token\":\"B4FCBCAA93B46F9D19BF\",\"product_code\":\"IVM\",\"organization_id\":\"fae6e8f0-1b1d-4fda-af82-34d63b1df399\",\"organization_name\":\"JupiterOne\"},{\"product_token\":\"A908EB44A0ACA8B6FDBE\",\"product_code\":\"AS\",\"organization_id\":\"fae6e8f0-1b1d-4fda-af82-34d63b1df399\",\"organization_name\":\"JupiterOne\"},{\"product_token\":\"7CC30DC8A44D03CAEB91\",\"product_code\":\"ICON\",\"organization_id\":\"fae6e8f0-1b1d-4fda-af82-34d63b1df399\",\"organization_name\":\"JupiterOne\"}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "www-authenticate",
              "value": "Key realm=\"kong\""
            },
            {
              "name": "r7-correlation-id",
              "value": "28e5418c-ce73-43ac-b701-4ad75d1990ab"
            },
            {
              "name": "ratelimit-limit",
              "value": "50"
            },
            {
              "name": "ratelimit-reset",
              "value": "59"
            },
            {
              "name": "ratelimit-remaining",
              "value": "49"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1378,
      },
      {
        "_id": "35277a00f61d365c6948e822a6053c00",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "x-api-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "size",
              "value": "500"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://us2.api.insight.rapid7.com/ias/v1/engine-groups?size=500&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 484,
            "text": "{\n  \"data\" : [ {\n    \"id\" : \"64035f1e-5775-4544-bc48-255e258553b0\",\n    \"name\" : \"Test Group\",\n    \"links\" : [ {\n      \"rel\" : \"self\",\n      \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/engine-groups/64035f1e-5775-4544-bc48-255e258553b0\"\n    } ]\n  } ],\n  \"metadata\" : {\n    \"index\" : 0,\n    \"size\" : 500,\n    \"sort\" : \"enginegroup.name,ASC\",\n    \"total_data\" : 1,\n    \"total_pages\" : 1,\n    \"page_token\" : \"LTMxOTc5MjEwOjo6X1M6Ojp0ZXN0IGdyb3VwOjo6X1M6Ojo2NDAzNWYxZS01Nzc1LTQ1NDQtYmM0OC0yNTVlMjU4NTUzYjA\"\n  },\n  \"links\" : [ {\n    \"rel\" : \"self\",\n    \"href\" : \"https://us2.api.insight.rapid7.com:443/ias/v1/engine-groups\"\n  } ]\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "r7-correlation-id",
              "value": "bbb8f916-a037-4115-bce4-be0fd5bf1b88"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 861,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
